.services-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.service-head {
  margin-bottom: 1rem;
}

.service-head h1 {
  color: #0b0f35;
  font-size: 2.5rem;
}

.service-header p {
  color: #333;
  max-width: 700px;
  margin: 0 auto 30px auto;
}

.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.category-button {
  background: #0b0f35;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.category-button:hover {
  background-color: #1679ab;
  transform: translateY(-3px);
}

.category-button.active {
  background: #1679ab;
  color: white;
  transform: translateY(-3px);
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 280px;
  margin: 15px !important;
  padding: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card-content h3 {
  margin: 15px 0;
  font-size: 1.2rem;
}

.card-content p {
  color: #555;
  font-size: 1rem;
}

.card-content img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .card {
    width: 240px;
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 2.2rem;
  }

  .card {
    width: calc(50% - 30px);
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.8rem;
  }

  .header p {
    font-size: 0.9rem;
  }

  .categories {
    flex-direction: column;
  }

  .category-button {
    width: calc(100% - 10px);
    margin: 5px;
  }

  .card {
    width: calc(100% - 20px);
    margin: 10px auto;
  }
}
