/* ConsultingServices.css */

.consultingservices {
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.consultingservices__header h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

.consultingservices__content p {
  margin-bottom: 15px;
  line-height: 1.5;
  color: #555555;
  text-align: justify;
}

.consultingservices__content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.consultingservices__content li {
  margin-bottom: 15px;
  line-height: 1.5;
  color: #555555;
}

@media (max-width: 768px) {
  .consultingservices {
    padding: 15px;
  }

  .consultingservices__header h2 {
    font-size: 1.5em;
  }

  .consultingservices__content ul {
    padding-left: 15px;
  }

  .consultingservices__content li {
    font-size: 0.9em;
  }

  .consultingservices__content p {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .consultingservices {
    padding: 10px;
  }

  .consultingservices__header h2 {
    font-size: 1.2em;
  }

  .consultingservices__content ul {
    padding-left: 10px;
  }

  .consultingservices__content li {
    font-size: 0.8em;
  }

  .consultingservices__content p {
    font-size: 0.8em;
  }
}
